{{- define "main" }}
<main>
  {{- if not .IsHome }}
  <nav class="breadcrumb" aria-label="Breadcrumb">
    <a href="/">Home</a>
    {{- range .Ancestors.Reverse }}
      {{- if not .IsHome }}
        / <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{- end }}
    {{- end }}
    / <span aria-current="page">{{ .LinkTitle }}</span>
  </nav>
  {{- end }}

  <h1>{{ with .Params.emoji }}{{ . }}&nbsp;{{ end }}{{ .LinkTitle }}</h1>
  {{- .Content }}

  {{- if eq .Kind "taxonomy" }}
    <ul class="{{ .Data.Plural }}">
      {{- range .Pages }}
      <li>
        {{ with .Params.emoji }}{{ . }}&nbsp;{{ end }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        <small>({{ len .Pages }})</small>
      </li>
      {{- end }}
    </ul>
  {{- else }}
    {{- $pages := .Pages.ByDate.Reverse }}
    <ul class="ensaios">
      {{- range $pages }}
      <li>
        {{- partial "date.html" . }}
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      </li>
      {{- else }}
      <li>Nenhum ensaio encontrado.</li>
      {{- end }}
    </ul>
  {{- end }}
</main>
{{- end }}