{{- define "main" }}
<article>
  <nav class="breadcrumb" aria-label="Breadcrumb">
    <a href="/">Home</a>
    {{- range .Ancestors.Reverse }}
      {{- if not .IsHome }}
        / <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
      {{- end }}
    {{- end }}
    / <span aria-current="page">{{ .LinkTitle }}</span>
  </nav>

  <header>
    <h1>{{ .Title }}</h1>
    {{- with .Params.subtitle }}<p class="subtitle">{{ . }}</p>{{- end }}
    <div class="meta">
      <div class="taxonomy-date">
        <strong>Data de publicação: </strong>
        <time datetime="{{ .Date.Format "2006-01-02" }}">
          {{ .Date | time.Format (i18n "date_format") }}
        </time>
      </div>

      {{- with .GetTerms "categorias" }}
        <div class="taxonomy-categories">
          <strong>Categorias: </strong>
          {{- range $i, $term := . }}
            {{- if $i }}, {{ end }}{{ with .Params.emoji }}{{ . }}&nbsp;{{ end }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          {{- end }}
        </div>
      {{- end }}

      {{- with .GetTerms "tags" }}
        <div class="taxonomy-tags">
          <strong>Tags: </strong>
          {{- range $i, $term := . }}
            {{- if $i }}, {{ end }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          {{- end }}
        </div>
      {{- end }}

      {{- with .GetTerms "series" }}
        <div class="taxonomy-series">
          <strong>Série: </strong>
          {{- range $i, $term := . }}
            {{- if $i }}, {{ end }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{- with $.Params.part }} (Parte {{ . }}){{ end }}
          {{- end }}
        </div>
      {{- end }}
    </div>
  </header>

  {{- with .TableOfContents }}
    <aside class="toc">
      <h2>Sumário</h2>
      <nav id="TableOfContents">
        {{ . }}
      </nav>
    </aside>
  {{- end }}

  <div class="content">
    {{ .Content }}
  </div>

  {{- range .GetTerms "series" }}
    {{- $pages := where .Pages "Permalink" "!=" $.Permalink }}
    {{- if $pages }}
      <aside class="series-nav">
        <h3>Mais de {{ .LinkTitle }}</h3>
        <ul>
          {{- range $pages }}
          <li{{ if eq . $.Page }} class="active"{{ end }}>
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ with .Params.part }}(Parte {{ . }}){{ end }}
          </li>
          {{- end }}
        </ul>
      </aside>
    {{- end }}
  {{- end }}

  <footer class="post-footer">
    <nav>
      <a href="/">&larr; Home</a>
      <a href="{{ (site.GetPage "/artigos").RelPermalink }}">Mais Artigos &rarr;</a>
    </nav>
  </footer>

</article>
{{- end }}